body {
    background-color: pink;
    margin: 0;
}

#middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 25%;
}
h1 {
    margin-top: 1px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 50px;
    -webkit-text-stroke: 2px black;
}

button {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 30px;
    margin: 20px;
    margin-top: 0px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#flex {
    display: flex;
    justify-content: center;
}

#yes {
    background-color: #26e600;
    color: white;
    box-shadow: 0 4px #48c066;
 
}

#no {
    background-color: #ec4242;
    color: white;
    box-shadow: 0 4px #c0487e;
}

@media (max-width: 1080px) {
    #middle {
        width: 60%;
        margin-top: 260px;
    }
    h1 {
        font-size: 32px;
    }
    button {
        font-size: 22px;
        padding: 8px 16px;
    }
}

@media (min-width: 1081px) and (max-width: 2160px) {
    #middle {
        width: 40%;
        margin-top: 80px;
    }
    h1 {
        font-size: 42px;
    }
    button {
        font-size: 26px;
    }
}

